@media screen and (min-width: 428px) {
    .container {
        max-width: 426px;
    }

    .hero-title {
        width: 320px;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.72px;
    }

    .benefits-item {
        max-width: 396px;
    }

    .benefits-subtitle {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.72px;
        text-align: center;
    }

    .benefits-text {
        font-weight: 500;
        letter-spacing: 0.32px;
    }

    .team > .container {
        max-width: 296px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }

    .benefits-item {
        max-width: unset;
        width: calc((100% - 24px) / 2);
    }

    .benefits-list {
        gap: 24px;
    }

    .benefits-subtitle {
        text-align: start;
    }

    .member-card {
        min-width: unset;
        width: calc((100% - 24px) / 2);
    }

    .team-list {
        gap: 64px 24px;
    }

    .team > .container {
        max-width: 584px;
    }

    .customers-logo-list {
        gap: 72px 24px;
    }

    .customers-logo-item {
        width: calc((100% - 48px) / 3);
    }

    .customers > .container {
        max-width: 584px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .benefits-item {
        width: calc((100% - 24px * 3) / 4);
    }

    .benefits-item-icon {
        height: 112px;
        margin-bottom: 8px;
        background-color: var(--benefits-item-color);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
    }

    .benefits-list {
        gap: 24px;
    }

    .benefits {
        padding: 120px 0;
    }

    .doing {
        display: block;
        padding-bottom: 120px;
    }

    .member-card {
        min-width: unset;
        width: calc((100% - 24px * 3) / 4);
    }

    .team > .container {
        max-width: 1158px;
    }
    .customers > .container {
        max-width: 1158px;
    }

    .customers {
        padding: 120px 0;
    }
    .customers-logo-item {
        width: calc((100% - 24px * 5) / 6);
    }
}