@media screen and (min-width: 428px) {
    .container {
        max-width: 426px;
    }

    .hero-title {
        width: 320px;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.72px;
    }

    .benefits-item {
        max-width: 396px;
    }

    .team > .container {
        max-width: 296px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }

    .navigation {
       display: flex;
       gap: 40px;
       padding-bottom: 24px;
    }
    
    .navigation-link {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--secondary-color);
        display: block;
        transition: color var(--transition);
        padding-top: 24px;
        font-weight: 500;
    }
    
    .navigation-link:hover,
    .navigation-link:focus {
        color: var(--hover-focus-color);
    }
    
    .current {
        color: var(--hover-focus-color);
        position: relative;
    }
    
    .current::after {
        border-radius: 2px;
        left: 0;
        bottom: -25px;
        content: '';
        width: 100%;
        height: 4px;
        background-color: var(--hover-focus-color);
        position: absolute;
    }
    
    .navigation>li {
        list-style-type: none;
    }

    .navigation-address {
        padding-bottom: 16px;
        display: block;
        font-style: normal;
        padding-top: 16px;
    }

    .address-menu {
        flex-direction: column;
        gap: 12px;
    }
        
    .address-menu-link {
        line-height: 1.16;
        letter-spacing: 0.48px;
        padding: 0;
        font-size: 12px;
    }

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2ddpx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 07)), url(../images/hero-bg-tab-2x.jpg);
        }
    }

    .hero-title {
        max-width: 496px;
        width: 100%;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 1.12px;
    }

    .benefits-item {
        max-width: unset;
        width: calc((100% - 24px) / 2);
    }

    .benefits-list {
        gap: 24px;
    }

    .benefits-subtitle {
        text-align: start;
    }

    .member-card {
        min-width: unset;
        width: calc((100% - 24px) / 2);
    }

    .team-list {
        gap: 64px 24px;
    }

    .team > .container {
        max-width: 584px;
    }

    .customers-logo-list {
        gap: 72px 24px;
    }

    .customers-logo-item {
        width: calc((100% - 48px) / 3);
    }

    .customers > .container {
        max-width: 584px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    }

    .navigation {
        display: flex;
            gap: 40px;
    }

    .navigation-address {
        display: block;
        padding: 0;
    }

    .address-menu {
        flex-direction: row;
        gap: 40px;
    }

    .address-menu-link {
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
    }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2ddpx) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-2x.jpg);
            }
        }

    .hero-container {
        width: 1440px;
        padding: 188px 0;
    }

    .benefits-subtitle {
        font-weight: 500;
        font-size: var(--secondary-text-size);
        line-height: 1.2;
        letter-spacing: 0.4px;
    }

    .benefits-text {
        font-weight: 400;
    }

    .benefits-item {
        width: calc((100% - 24px * 3) / 4);
    }

    .benefits-item-icon {
        height: 112px;
        margin-bottom: 8px;
        background-color: var(--benefits-item-color);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
    }

    .benefits-list {
        gap: 24px;
    }

    .benefits {
        padding: 120px 0;
    }

    .doing {
        display: block;
        padding-bottom: 120px;
    }

    .member-card {
        min-width: unset;
        width: calc((100% - 24px * 3) / 4);
    }

    .team > .container {
        max-width: 1158px;
    }
    .customers > .container {
        max-width: 1158px;
    }

    .customers {
        padding: 120px 0;
    }
    .customers-logo-item {
        width: calc((100% - 24px * 5) / 6);
    }
}